beepie
godi
src

.Xauthority

.bash_history
.bash_profile
.bitcoin/
.cache
.dmenu_cache
.fehbg
.fehrc
.fontconfig
.gitk
.gstreamer-0.10
.lesshst
.local
.lyrics
.macromedia/
.mc/
.mplayer
.ncmpcpp
.sqlite_history
.ssh
.vim/
.viminfo

*.swp

