Desktop/
Downloads/

godi/
mail/
msrc/
qBT_dir/
savage-xr/
shit/
src/

.Skype/
.Xauthority
.AbiSuite/

.angband/
.bash_history
.bitcoin/
.cache/
.claws-mail/
.darcs/
.dbus/
.dmenu_cache
.dvdcss/
.esd_auth
.etracer/
.fehbg
.fehrc
.fontconfig/
.gconf/
.gconfd/
.gem/
.gervill/
.gimp-2.6/
.gitk
.gnome/
.gstreamer-0.10/
.icons/
.installjammerinfo/
.java/
.kde4/
.lesshst
.lyrics/
.macromedia/
.mc/
.mozilla/
.mplayer/
.ncmpcpp/
.ocamldebug_history
.ocaml_history
.omake/
.opera/
.pki/
.pulse/
.pulse-cookie
.rcc/
.recently-used.xbel
.rediscli_history
.savage/
.skype/
.slocdata/
.sqlite_history
.ssh/
.subversion/
.surf/
.tuxguitar-1.2/
.vimfuzzyfinder
.viminfo
.warsow-0.5/
.wine/
.wireshark/

*.swp
