audacious/
axkb.cfg
chromium/
DjVuLibre/
dxtime/
esmska/
gtk-2.0
holdingnuts/
inkscape/
InSilmaril/
keepassx/
.libreoffice/
menus
midori/
mirage/
.mono/
mousepad/
MusE/
MuseScore/
Nokia/
q4wine/
qBittorrent/
rncbc.org
smplayer
Smultron/
Trolltech.conf
